@use "sass:math";

$font-stack: Inter, sans-serif;
$primary-color: #333;
$cold-gradient: linear-gradient(90deg, rgba(61,53,207,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
$hot-gradient: linear-gradient(90deg, rgba(207,154,53,1) 0%, rgba(245,196,32,1) 35%, rgba(255,155,155,1) 100%);

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $font-stack;
    color: $primary-color;
    font-size: 2rem;

    h1 {
        font-size: 4rem;
    }

}

.content {
    width: math.div(600px, 960px) * 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    gap: 1rem;
    margin: 0 auto;

    input {
        padding: 8px 16px;
    }

    button {
        padding: 8px 16px;
    }
}